html {
    background-color:#2b2b2b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
header {
    margin: 15px;
    background-color: #222120;
    color: #CBAA72;
    text-align: center;
}
#fotoLogo{
  display: block;
  margin: auto;
}
.nav-bar {
    list-style: none;
    background-color: #DAB88B;
    text-align: left;
}

.nav-bar :hover{
    color: #2b2b2b;
}
  
.nav-bar li {
    display: inline-block;
    margin: 5px;
}
  
.nav-bar a {
    text-decoration: none;
    color: #FDF6EC;
}
p{
    color: #dbc8ae;
}
.main-container{
  display: flex;
  flex-direction: row;
}

* {box-sizing:border-box}

.container-carrousel {
  position: relative;
  margin: 15px;
  width: 100%;
}

.foto {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.texto {
  color: #FDF6EC;
  font-size: 23px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numeroTexto {
  color: #FDF6EC;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}
.transicion {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.texto4 {
  color: #DAB88B;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



body {
  font-size: 16px;
}
.legal-edad {
  color: #fff;
  text-align: center;
}
.legal-edad{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  color: #fff;
  background: rgba(0,0,0,.9);
  text-align: center;
}
.contenedor-legal{
  padding-top: 120px;
  width: 550px;
  position: relative;
  margin: 0 auto;
}

.titulo-legal{
  font-weight: 300;
  font-size: 30px;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  color: #DAB88B;
  background: linear-gradient(#DAB88B, #DAB88B);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 105px 1px;
}
.texto-legal {
  font-size: 80%;
  margin: 0 0 20px 0;
  color: #FDF6EC;
}
.consulta-legal {
  font-weight: 300;
  font-size: 20px;
  margin: 0 0 10px 0;
  color: #DAB88B;
}
p {
  display: block;
}
.redireccion-legal a {
  margin: 0 7px;
  width: 128px;
}
.redireccion-legal a:hover {
  background-color: #DAB88B;
}
.redireccion-legal a {
  display: inline-block;
  margin: 0 5px;
  color: #FDF6EC;
  font-size: 23px;
  font-weight: 400;
  line-height: 44px;
  width: 118px;
  text-decoration: none;
  background-color: #b49873;
}
